<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<form action="paymentsList" method="post">
    <LABEL>Category</LABEL>&ensp;&ensp;&ensp;
    <input type="text" name="payments category" />
    <br>
    <br>
    <LABEL>Title</LABEL> &ensp; &ensp; &ensp;&ensp;&ensp;
    <input type="text" name="payments title" />
    <br>
    <br>
    <LABEL>Description</LABEL>&ensp;
    <input type="text" name="payments description" />
    <br>
    <br>
    <LABEL>Sum</LABEL>&ensp; &ensp; &ensp;&ensp;&ensp;&ensp;
    <input type="number" name="payments sum" />
    <br>
    <br>
    <button type="submit">Add payment</button>
</form>
</body>
</html>